
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../font/MyriadPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("..//font/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
%wr {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
